// Layout

@import "bourbon-neat/core/neat";

$neat-grid: (
  columns: 12,
  gutter: $tc-gutter-spacing
);

$small-neat-grid: (
  columns: 12,
  gutter: $tc-small-gutter-spacing,
  media: "screen and (max-width: 768px)"
);

.container {
  @include grid-container;
}

.curve-theme {
  margin-top: -130px;

  &:before {
    background-image: url("../img/curve.svg");
    background-size: cover;
    display: block;
    content: "";
    height: 130px;
  }
}

.dark-theme {
  background: $tc-dark;
  color: $tc-white;
  padding-bottom: 150px;
}

.gray-theme {
  background: $tc-gray6;

  &:before {
    background-image: url("../img/curve-2.svg");
    background-size: cover;
    display: block;
    content: "";
    height: 90px;
    background-color: $tc-white;
  }

  &:after {
    background-image: url("../img/curve-3.svg");
    display: block;
    content: "";
    height: 90px;
    background-color: $tc-teal-dark2;
  }

  .section {
    padding: 60px 0;

    .heading {
      color: $tc-teal;
      letter-spacing: 0.3px;
    }
  }
}

.gray-theme-solution {
  background-image: linear-gradient(0deg, $tc-white 0%, $tc-gray6 100%);
  &:before {
    background-image: url("../img/curve-4.png");
    background-size: cover;
    display: block;
    content: "";
    height: 90px;
    background-color: $tc-white;
  }

  .section {
    padding: 60px 0;

    .heading {
      color: $tc-teal;
      letter-spacing: 0.3px;
    }
  }
}

.gray-theme-build {
  background: $tc-gray6;
  &:before {
    background-image: url("../img/curve-4.png");
    background-size: cover;
    display: block;
    content: "";
    height: 90px;
    background-color: $tc-white;
  }

  .section {
    padding: 60px 0;

    .heading {
      color: $tc-teal;
      letter-spacing: 0.3px;
    }
  }
}

.teal-theme {
  background: $tc-teal-dark2;
  color: $tc-white;
  padding: 68px 0 100px;

  .section-title {
    padding-top: 46px;
    letter-spacing: 0.4px;
  }
}

.grid {
  @include grid-container;

  min-height: inherit;
}

.grid-collapse {
  @include grid-collapse;
}

.grid .column-4 {
  @include grid-column(4);
}

.grid .column-5 {
  @include grid-column(5);
  flex: 1;
}

.grid .column-6 {
  @include grid-column(6);
}

.grid .column-7 {
  @include grid-column(7);
  flex: 1;
}

.grid .column-8 {
  @include grid-column(8);
}

.grid .column-12 {
  @include grid-column(12);
}

.block {
  clear: both;
  overflow: hidden;

  .title {
    margin-bottom: 15px;
  }
}

.block-vertical-margin {
  margin: $tc-gutter-spacing 0;
}

* > .block-vertical-margin:first-child {
  margin-top: 0;
}

* > .block-vertical-margin:last-child {
  margin-bottom: 0;
}

.block.curve {
  border-radius: $tc-border-radius;
}

.call-to-action-block {
  .bottom {
    margin: 40px 0 10px;
  }
}

.small-call-to-action-block {
  text-transform: uppercase;
  text-align: center;
  background-color: $tc-gray1;
  color: $tc-white;
  padding: 11px 0;

  .h6 {
    line-height: 38px;
    letter-spacing: 0.3px;
  }

  a {
    color: $tc-white;
    text-decoration: underline;
  }

  div {
    display: inline-block;
  }
}

.customer-block {
  background-color: $tc-teal;

  .content-wrapper {
    padding: 52px 0 20px 40px;

    .heading {
      line-height: 38px;
      margin-top: 17px;
    }

    .body {
      line-height: 24px;
    }

    .bottom {
      margin-top: $tc-spacing-m;
    }
  }

  &-image {
    background-size: cover;
  }

  &.size-1 {
    margin-right: 108px;
  }

  &.size-2 {
    margin-left: 108px;
    min-height: 480px;

    .col-1 {
      position: relative;
    }

    .content-wrapper {
      position: absolute;
      bottom: 0;
    }
  }

  &.size-3,
  &.size-4 {
    text-align: center;
    min-height: 260px;
    padding: 60px;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  &.size-4 {
    margin-right: 108px;
  }
}

.customer-block-intro {
  .bottom {
    margin-top: 35px;
    text-align: center;
  }
}

.wrapper {
  max-width: $tc-wrapper-width;
  margin: auto;
}

.section {
  padding: $tc-spacing-l 0;
}

@media (max-width: $screen-sm) {
  .block-vertical-margin {
    margin: $tc-small-gutter-spacing 0;
  }

  .grid-collapse {
    @include grid-media($small-neat-grid) {
      @include grid-collapse;
    }
  }

  .grid .column-small-12 {
    @include grid-media($small-neat-grid) {
      @include grid-column(12);
    }
  }

  .grid .column-small-6 {
    @include grid-media($small-neat-grid) {
      @include grid-column(6);
    }
  }

  .customer-block {
    &.size-1 {
      margin-right: 0;
    }

    &.size-2 {
      margin-left: 0;
    }

    &.size-4 {
      margin-right: 0;
    }

    &.size-3,
    &.size-4 {
      min-height: 120px;
      padding: 20px 30px;
    }
  }

  .teal-theme {
    padding: 60px 0;
  }

  .small-call-to-action-block > * {
    line-height: 26px;
  }

  .footer {
    padding: $tc-small-gutter-spacing;
  }

  .logos-block {
    padding: 10px;
  }

  .logo-block {
    padding: 10px;

    img {
      max-width: 150px;
      max-height: 40px;
    }
  }
}
