.solution-top-wrapper {
  .solution-type {
    padding-top: 170px;
    margin: 0 30% 3% 30%;
    text-align: center;
    color: $tc-dark;
    letter-spacing: $lt-spacing-s;
    .title {
      &.apps-title {
        color: $tc-teal;
      }
      &.websites-title {
        color: $tc-orange;
      }
    }
    .subtitle {
      padding: 20px 66px 0;
    }
  }
}
.config {
  margin-top: 3%;
  .description {
    padding-top: 10px;
    letter-spacing: $lt-spacing-xs;
  }
}
.software-process {
  margin: -48px 80px 150px 80px;
  background-color: $tc-gray6;
  border-radius: $tc-border-radius;
  max-width: 90%;
  padding-bottom: 30px;
  .duration {
    padding: 14px 55px 0 0;
    color: $tc-gray2;
    letter-spacing: $lt-spacing-s;
    text-align: right;
  }
  .software-process-inner {
    margin: 10px 25px 0;
    max-width: 99%;

    div {
      margin-left: 5px;
      padding-left: 19px;
      border-radius: $tc-border-radius;
      color: $tc-white;

      .h5 {
        padding-top: 12px;
      }
      span {
        &.subtitle-1 {
          letter-spacing: $lt-spacing-s;
          display: block;
          padding: 30px 0 16px;
        }
      }
    }

    div:first-child {
      margin-left: 30px;
    }

    div:last-child {
      margin-right: 30px;
    }

    .design {
      background-color: #8231a9;
      width: 18.5%;
    }
    .dev {
      background-color: #16679a;
      width: 50%;
    }

    .qa {
      background-color: #1e94a3;
      width: 18.5%;
    }

    .deploy {
      background-color: #4cc94c;
      width: 13%;
    }
  }
  .software-process-bottom {
    margin-top: 30px;
    .estimated-price {
      color: $tc-dark;
      display: inline;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: $lt-spacing-l;
      line-height: 18px;
    }
    .price {
      padding-left: 10px;
      display: inline;
    }

    .btn-start {
      margin: 10px 0 0 40px;
      height: 42px;
      letter-spacing: $lt-spacing-m;
      line-height: 18px;
    }
  }
}

.solution-info {
  text-align: center;
  margin: 0 60px 5% 60px;
  .description {
    color: $tc-dark;
  }
}

.solution-details {
  margin-left: 11.5%;
  padding-top: 5%;
  .solution-box-inner {
    padding-bottom: 42px;
  }
  .title {
    color: $tc-teal;
    line-height: $tc-spacing-l;
  }
  .description {
    color: $tc-dark;
    ul {
      list-style-type: disc;
      padding-left: 20px;

      li {
        padding-left: 20px;
      }
    }
    p {
      padding-bottom: 15px;
    }
  }

  .solution-left {
    margin-right: 120px;
  }

  .solution-right {
    img {
      &.app-logo {
        width: 60px;
        height: 50px;
      }
    }
    .message {
      margin-top: 20px;
      .message-text {
        margin-bottom: 12px;
        color: $tc-gray1;
        width: 305px;
      }
      .author-wrapper {
        margin-right: 50px;
      }
      .author {
        margin-bottom: 2px;
        color: $tc-dark;
        display: block;
        font-weight: 700;
      }
      .role {
        font-size: 16px;
      }
      .case-study {
        color: $tc-turquoise;
        margin-top: 22px;
      }
    }
  }
}

.ready-to-build {
  text-align: center;
  height: 360px;
  .title {
    margin-top: 35px;
  }
  .get-started {
    margin-top: 30px;
  }
}
// mobile screens

@media (max-width: $screen-sm) {
  .solution-top-wrapper {
    .solution-type {
      margin: 0px 15px 0 15px;
      padding-top: 70px;
      .title {
        padding-top: 70px;
        font-size: 42px;
        letter-spacing: $lt-spacing-xs;
        line-height: 36px;
      }
      .subtitle {
        padding: 0 20px 0 20px;
        font-size: 20px;
      }
    }
  }
  .config {
    margin: 60px 15px 0 15px;
    .title {
      font-size: 36px;
      letter-spacing: $lt-spacing-xs;
      line-height: 34px;
    }
    .description {
      font-size: 18px;
      letter-spacing: $lt-spacing-xs;
      line-height: 20px;
    }
  }

  .software-process {
    margin: 20px 15px 40px 15px;
    max-width: none;
    .duration {
      padding-right: 0;
      text-align: center;
    }
    .software-process-inner {
      margin: 15px 0 0 20px;
      display: block;

      div {
        margin-left: 0px;
        margin-bottom: 5px;
        .h5 {
          font-size: 20px;
          text-align: left;
          padding-top: 7px;
        }
        span {
          &.subtitle-1 {
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 14px;
            line-height: 18px;
            display: block;
          }
        }
      }

      div:first-child {
        margin-left: 0;
      }

      div:last-child {
        margin-right: 0px;
      }

      .design {
        width: 75%;
      }
      .dev {
        width: 100%;
      }

      .qa {
        width: 50%;
      }

      .deploy {
        width: 37%;
      }
    }
    .software-process-bottom {
      display: block;
      text-align: center;
      .estimated-price {
        display: block;
      }
      .price {
        margin-top: -10px;
      }

      .btn-start {
        margin-left: -7px;
        margin-top: 30px;
        display: inline-block;
      }
    }
  }

  .solution-info {
    margin: -80px 0 0 0;
    .title {
      font-size: 21px;
      font-weight: 600;
      letter-spacing: $lt-spacing-xxs;
      line-height: 23px;
    }
  }

  .solution-details {
    margin-left: 0;

    .title {
      font-size: 31px;
      letter-spacing: $lt-spacing-xs;
    }

    .solution-right {
      .message {
        .message-text {
          font-size: 25px;
        }

        .role {
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
        }

        .case-study {
          font-size: 13px;
          letter-spacing: $lt-spacing-m;
          line-height: 16px;
        }
      }
    }
  }

  .ready-to-build {
    text-align: center;
    h3 {
      font-size: 31px;
      font-weight: 500;
      letter-spacing: $lt-spacing-xs;
    }
    .get-started {
      margin-top: 15px;
    }
  }

  hr {
    &.hr-wave-lg {
      background-size: 50%;
    }
  }

  &.hr-app-wave-sm {
    background-size: 40%;
  }
}
